# Configuración de Base de Datos MySQL
MYSQL_ROOT_PASSWORD=Cambia_Esta_Root_Password_2026
SKYFIRE_DB_USER=skyfire
SKYFIRE_DB_PASSWORD=Cambia_Esta_SkyFire_Password_2026
MYSQL_PORT=3306

# Configuración del Reino WoW (Tabla realmlist)
REALM_NAME=SkyFire 5.4.8
REALM_ADDRESS=127.0.0.1
REALM_PORT=8085

# Descarga Automática de Base de Datos
# Rama de SkyFire en GitHub para descargar esquemas auth y characters
SKYFIRE_REF=main

# (Opcional) URL directa para descargar el dump SFDB de la base de datos world.
# Si se deja vacío, se descarga automáticamente el último release desde Codeberg.
# SFDB_DOWNLOAD_URL=https://codeberg.org/ProjectSkyfire/database/releases/download/R24.001/SFDB_full_548_24.001_2024_09_04_Release.zip

# Ruta a los mapas del servidor ya extraídos (dbc, maps, vmaps, mmaps)
# GAME_DATA_PATH=D:/MoP/Server_Data

# Ruta al cliente WoW si deseas usar el servicio extractor (perfil tools)
# CLIENT_PATH=D:/MoP/MOP-5.4.8.18414-enUS-Repack

